@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Share Tech", sans-serif;
}

:root{
    /*cores Login*/
    --cor1: #0FC2C0;
    --cor2: #0CABA8;
    --cor3: #008F8C;

    /*cores Cadrastro*/
    --cor4: #815BD4;
    --cor5: #6D4CB0;
    --cor6: #573C8C;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    width: 440px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.5);
}

.card h1{
    font-size: 1.6rem;
}

.card .social-login{
    display: flex;
    gap: 16px;
    margin-top: 20px;

}

.card .social-login button{
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    border: 1px solid #6667b0;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card .social-login button i{
    font-size: 26px;
  }

  .card .social-login button:hover{
    border-color: #6b43ff;
    background-color: #6b43ff;
}

.card .divisor{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card .divisor .linha {
    height: 1px;
    width: 100%;
    background: var(--cor3);
    opacity: 0.5;
    margin: 20px 0 16px;
}

.card form label{
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 20px;
}

.card form .inputs{
    position: relative;
}

.card form .inputs input{
    color: #1d1d1d;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #1d1d1d;
    font-weight: 500;
    width: 100%;
    height: 40px;
    letter-spacing: 0.03rem;
    background: transparent;
    display: flex;
    outline: none;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.card form .inputs input:focus{
    border-color: #5222fd;
}

.card form .inputs input:focus + i{
    color: #5222fd;
}

.card form .inputs i{
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 10px;
    transition: all 0.3s ease;
}

.card form  .login {
    width: 100%;
    line-height: 50px;
    margin-top: 30px;
    background: #6b43ff;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 800;
    letter-spacing: 0.025em;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.card form  .login:hover{
    background: #573C8C;
}

.card .links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card .links a{
    text-decoration: none;
    color: #5222fd;
    font-weight: 600;
    font-size: 16px;
    text-underline-offset: 6px;
    text-decoration-color: #5222fd;
}

.card .links a:hover{
    text-decoration: underline;
}