/* === Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Animações */
@import url(/assets/css/animacoes/anima.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

/* ========== CSS Global ========== */
:root{
    /* Paleta de cores*/
    --cor1: #9373d8;
    --cor2: #8759e2;
    --cor3: #4d2c8f;

    --bg-color: #0D0D0D;
    --card-bg: #1A1A1A;
    --txt-prin: #F5F5F5;
    --neon-ciano: #00ffff;
    --neon-magen: #ff00ff;
    --color-alert: #fcee09;
    --agul-bg: #090c15;


    /* Fonte */
    --font-titulo: "Orbitron", sans-serif ;
}


/* ==== Video ==== */
.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.introducao{
    
}

/* ========== Início ========== */
 .introducao, .login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.intro-text{
    position: absolute;
    top: 3.7em;
    color: var(--txt-prin);
    width: 100%;
    text-align: center;
    z-index: 2;
}

/* Animação de entrada */

.intro-text h1{
    font-family: var(--font-titulo);
    font-size: 3rem;
    position: relative;
}

/* Efeito Glitch */
.intro-text h1::before, .intro-text h1::after{
    content: "Bem Vindo ao futuro!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.intro-text h1::before{
    color: var(--neon-ciano);
    animation: glitch-one 2.5s infinite linear;
}

.intro-text h1::after{
    color: var(--neon-magen);
    animation: glitch-two 2.5s infinite linear;
}

.intro-text p{
    font-size: 18px;
}
   

/* ========== Login ========== */

.login{
  display: none;  
}

/* =========== Card de Login ========== */
.card-login{
    margin: 2em auto;
    width: 25em;
    padding: 40px 32px;
    box-shadow: 0px 7px 29px 0px #fcfcff;
    backdrop-filter: blur(90px);
}

.card-login h1{
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2rem;
    color: var(--txt-prin);
}

.social-login{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.social-login button{
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-prin);
    border: 1px solid var(--neon-magen);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-login button i{
    font-size: 1.8rem;
}

.social-login button:hover{
    box-shadow: 0 0 15px var(--neon-magen), inset 0 0 15px var(--neon-magen);
}

.card-login .divisor{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--txt-prin);
}

.divisor .linha {
    height: 3px;
    width: 100%;
    background: var(--neon-magen);
    opacity: 0.5;
    margin: 20px 0 16px;
}

form label{
    color: var(--txt-prin);
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 0.08rem;
    display: block;
    margin-top: 20px;
}

.card-login form .inputs{
    position: relative;
}

.card-login form .inputs input{
    color: var(--txt-prin);
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid var(--neon-magen);
    font-weight: 500;
    width: 100%;
    height: 40px;
    letter-spacing: 0.03rem;
    background: transparent;
    display: flex;
    outline: none;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.card-login .inputs input:focus{
    border-color: var(--neon-ciano);
}

.inputs input:focus + i{
    color: var(--neon-ciano);
}


/* Icones do input */

.inputs .bi.bi-eye{
    cursor: pointer;
}

.inputs .bi.bi-eye-slash{
    display: none;
}


.inputs i{
    position: absolute;
    font-size: 25px;
    right: 9px;
    top: 5px;
    transition: all 0.3s ease;
    color: var(--txt-prin);
}

.card-login form .btn-login {
    width: 100%;
    line-height: 50px;
    margin-top: 30px;
    background: var(--neon-magen);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    letter-spacing: 0.030em;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.card-login form .btn-login:hover{
    background: var(--neon-ciano);
}

.card-login .links{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-login .links a{
    text-decoration: none;
    color: var(--neon-magen);
    font-weight: 600;
    font-size: 16px;
    text-underline-offset: 6px;
    text-decoration-color: var(--neon-magen);
}

.card-login .links a:hover{
    text-decoration: underline;
}